body {
    background-color: #f1f1f1;
    font-family: 'Tiro Bangla', serif, 'Ubuntu', sans-serif;
}

.container {
    max-width: 1200px;
    background-color: #f9f9f9;
}

a{
    text-decoration: none;
}

.search-wrapper{
    z-index: 99;
}

.search-wrapper .search-results {
    width: 100%;
    overflow-y: scroll;
    max-height: 500px;
    font-size: 90%;
}

.search-wrapper .search-thumb-img{
    position: relative;
    height: 70px;
    display: flex;
    width: auto;
}

.search-wrapper .search-thumb-wrapper, .search-wrapper .search-info{
    display: inline-block;
    vertical-align: top;
}

.search-wrapper .search-thumb-wrapper{
    margin-right: 10px;
    min-width: 50px;
}

.positive-result li:not(:last-child){
    border-bottom: 1px solid #dddddd;
    margin-bottom: 10px;
}

.search-wait-img {
    width: 55px;
    height: 55px;
}

.table-thumb-img{
    width: 75px;
}

.detail-thumb-img{
    width: 250px;
}

.fixed-alert{
  position: fixed;
  bottom: 40px;
  right: 15px;
}

.dr-align-right{
    right: 0 !important;
    text-align: right;
}

.tbl-col-sep::before{
    content: ':';
}

.tbl-col-sep span, .table-col-sep p{
    padding-left: 15px;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.book-comment-block p{
    font-size: 14px !important;
}

.blockquote-footer span{
    color: #101010;
}

.blockquote-footer .badge{
    font-style: normal;
}

.login-notice{
    font-size: 14px;
    line-height: 3.0;
}

.login-notice span{
    font-style: normat;
    font-weight: bold;
}

.main-navigation a{
    color: #000;
    transition: 0.5s;
}

a, .btn{
    transition: 0.5s; 
}

.main-navigation a:hover, .main-navigation a.active{
    color: #0d6efd !important;
}

.tbl-header-row th{
    padding: 15px 8px;
}

.tbl-entry-col{
    min-width: 80px;
}

.tbl-entry-date-col{
    min-width: 115px;
}

.tbl-category-col a:hover{
    background-color: none !important;
}

.req-form-error{
    font-size: 90%;
}

/* Card */

/* Info Cards */
.frontend-container .info-card {
    /*padding-bottom: 10px;*/
}

.frontend-container .info-card h6 {
    font-size: 28px;
    color: #012970;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.frontend-container .card-icon {
    font-size: 32px;
    line-height: 4.3rem;
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    flex-grow: 0;
    margin-top: 35px;
}

.frontend-container .sales-card .card-icon {
    color: #4154f1;
    background: #f6f6fe;
}

.frontend-container .revenue-card .card-icon {
    color: #2eca6a;
    background: #e0f8e9;
}

.frontend-container .customers-card .card-icon {
    color: #ff771d;
    background: #ffecdf;
}

.card {
    margin-bottom: 30px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
  }
  
  .card-header,
  .card-footer {
    border-color: #ebeef4;
    background-color: #fff;
    color: #798eb3;
    padding: 15px;
  }
  
  .card-title {
    padding: 20px 0 15px 0;
    font-size: 18px;
    font-weight: 500;
    color: #012970;
    font-family: "Poppins", sans-serif;
  }
  
  .card-title span {
    color: #899bbd;
    font-size: 14px;
    font-weight: 400;
  }
  
  .card-body {
    padding: 0 20px 20px 20px;
    min-height: 275px;
  }
  
  .card-img-overlay {
    background-color: rgba(255, 255, 255, 0.6);
  }

.card-extra-info{
    font-size: 80%;
    color: #333;
    margin-top: 10px;
}

.lreads-table tr td:first-child{
    min-width: 200px;
    max-width: 200px;
}

.lreads-table tr td:last-child{
    border-left: 1px solid #ccc;
    padding-left: 20px;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
    color: #fff;
}

.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
    background: #4154f1;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
}

.dataTables_length, .dataTables_info{
    text-align: left;
}

.dt-row{
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}


/*Responsive Utilities*/

/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px)  { 
    .pagination{
        margin: 0 auto !important;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 577px) and (max-width: 767px) {
    .pagination-holder nav div:not(:first-child){
        display: block !important;
        text-align: center;
    } 

    .pagination-holder .pagination{
        margin: 0 auto !important;
    } 
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

}

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
    
}