body {
    background-color: #f1f1f1;
    font-family: 'Tiro Bangla', serif, 'Ubuntu', sans-serif;
}

.container {
    max-width: 1200px;
    background-color: #f9f9f9;
}

a{
    text-decoration: none;
}

.search-wrapper .search-results {
    width: 100%;
    overflow-y: scroll;
    max-height: 500px;
    font-size: 90%;
}

.search-wrapper .search-thumb-img{
    position: relative;
    height: 70px;
    display: flex;
}

.search-wrapper .search-thumb-wrapper, .search-wrapper .search-info{
    display: inline-block;
    vertical-align: top;
}

.search-wrapper .search-thumb-wrapper{
    margin-right: 10px;
}

.table-thumb-img{
    width: 75px;
}

.detail-thumb-img{
    width: 250px;
}

.fixed-alert{
  position: fixed;
  bottom: 40px;
  right: 15px;
}

.dr-align-right{
    right: 0 !important;
    text-align: right;
}

.tbl-col-sep::before{
    content: ':';
}

.tbl-col-sep span, .table-col-sep p{
    padding-left: 15px;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.book-comment-block p{
    font-size: 14px !important;
}

.blockquote-footer span{
    color: #101010;
}

.blockquote-footer .badge{
    font-style: normal;
}

.login-notice{
    font-size: 14px;
    line-height: 3.0;
}

.login-notice span{
    font-style: normat;
    font-weight: bold;
}

.main-navigation a:hover{
    color: #0d6efd !important;
}

.tbl-header-row th{
    padding: 15px 8px;
}

.tbl-entry-col{
    min-width: 80px;
}

.tbl-entry-date-col{
    min-width: 115px;
}

.tbl-category-col a:hover{
    background-color: none !important;
}